$navbackground: #3E60AF;
$navtext: #ffffff;
$navhover: #ffffff;
$sidenavbackground: #6784C6;
$sidenavcolor: #ffffff;
$header: lighten(#56BABA, 30%);
$headertext: #000000;
$headerhover: lighten($headertext, 30%);
$primary: #0E3182;
$primarytext: #ffffff;
$primaryhover: darken($primary, 20%);
$success: #0A9595;
$successtext: #ffffff;
$successhover: darken($success, 20%);
$warning: #8069C9;
$warningtext: #000000;
$warninghover: darken($warning, 20%);
$danger: #3F1EAB;
$dangertext: #ffffff;
$dangerhover: darken($danger, 20%);
