@import '../../scss/vars';

.site-header {
  background-color: #3e60af;
  color: white;
  font-weight: bold;
}

.site-header a {
  color: white;
}

.site-header .container div {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-header .dropdown-menu a {
  color: black;
}

.jumbotron {
  background-color: #c3e6e6;
  @media (min-width: 576px) {
    padding: 3rem 0rem;
  }
  position: relative;
  .linebutton {
    position: absolute;
    bottom: 0;
    right: 10%;
    border-radius: 4px 4px 0px 0px;
  }
  @media (max-width: 768px) {
    padding: 1rem 0rem;
    border-radius: 0;
    h1 {
      line-height: 1;
      a {
        font-size: 0.5em;
        img {
          display: none;
        }
      }
    }
    button {
      display: none;
    }
  }
}

  .topbutton {
    border-radius: 0px 0px 4px 4px;
  }
.jumbotron a {
  color: black;
}

.form-inline {
  label {
    justify-content: right;
  }
  margin-bottom: 5px;
}


.site-header .container .search-container {
  @media screen and (min-width: 1024px) {
    max-width: 20%;
  }
  padding: 10px 0px;
  div {
    padding: 0;
  }
  .gsc-control-cse {
    background-color: $navbackground;
    border: none;
  }
  
  .gsc-input-box {
    border-radius: 4px;
    height: 2.5em;
    input.gsc-input {
      width: 100%;
      line-height: 32px;
      border-radius: 4px;
    }
    .gsib_a {
      padding-top: 0px;
    }
  }
  
  table.gsc-search-box {
    margin-bottom: 0;
  }
  
  .gsc-search-button {
    height: 2.5em;
    border-radius: 4px;
    background-color: $success;
    padding: 0px 4px;
  }
  .gsc-search-botton:hover {
  }
  .gsc-search-button-v2 {
    border: none;
    margin-top: 0;
    height: 100%;
  }
  
  .gsc-search-button-v2:hover {
    background-color: $successhover;
  }
}